/* Container style */
.container {
    max-width: 100%; /* Sesuaikan lebar sesuai kebutuhan Anda */
    margin: 0 auto;
    padding: 20px;
    background-color: #FFDAB8;
}
  /* Form style */
  .form-group {
    margin-bottom: 1rem;
  }

  .form-label {
    font-weight: bold;
  }

  .form-control {
    width: 100%;
    padding: 0.375rem 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
  }

  /* Error message style */
  .is-invalid {
    border-color: #dc3545;
  }

  .invalid-feedback {
    color: #dc3545;
  }

  .alert.alert-danger {
    color: #dc3545;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: 0.75rem 1.25rem;
    margin-top: 0.5rem;
    border-radius: 0.25rem;
  }

  /* Button style */
  .btn{
    background-color: #fff;
    color: #ff6600;
    font-weight: 700;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
    background-color: #ff4500;
    color: #fff;
}
