
  /* Container styling */
  .container {
    margin-top: -1rem; /* Margin atas 5 rem */
    /* Posisi inputan di tengah */
    background-color: #FFDAB8; /* Warna latar belakang oranye */
  }

  /* Form styling */
  form {
    padding: 20px;
  }

  /* Form group styling */
  .form-group {
    margin-bottom: 1rem; /* Jarak antara setiap grup input */
  }

  /* Label styling */
  .form-label {
    font-weight: bold; /* Tebal teks label */
    margin-right:80%;
  }

  /* Input styling */
  .form-control {
    width: 100%; /* Lebar input 100% dari kontainer */
    padding: 0.5rem; /* Ruang di dalam input */
    border: 1px solid #ccc; /* Garis tepi input */
    border-radius: 5px; /* Bentuk sudut input */
  }

  /* Invalid feedback styling */
  .invalid-feedback {
    color: red; /* Warna teks feedback invalid */
  }

  .btn{
    background-color: #fff;
    color: #ff6600;
    font-weight: 700;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
    background-color: #ff4500;
    color: #fff;
}
