@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;600;700&display=swap');
.main {
    background-color: #FFA902;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin-top:200px;
    margin-left:500px;
}

.form {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.alert {
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color:#FFF;
    font-family: 'Poppins', sans-serif;
}

p {
    margin-bottom: 20px;
    color:#FFF;
    font-family: 'Poppins', sans-serif;
}

.form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color:#FFF;
    font-family: 'Poppins', sans-serif;
}

.form-control {
    width: 100%;
    padding: 10px;
    border:0px;
    background-color: #fff;
    color: #ff6600;
    font-weight: 600;
    margin-bottom: 10px;
    border-radius:20px;
}
.btn {
    background-color: #fff;
    color: #ff6600;
    font-weight: 700;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
    background-color: #ff4500;
    color: #fff;
}

