  /* .container {
    width: 900x;
    height: 900px;
    position: relative;
    background: #D2D2D2;
  } */

  .news-heading {
    left: 600px;
    top: 80px;
    position: absolute;
    text-align: center;
    color: black;
    font-size: 40px;
    font-family: Inter;
    font-weight: 700;
    word-wrap: break-word;
  }

  .yellow-bar {
    width: 200px;
    height: 10px;
    left: 550px;
    top: 122px;
    position: absolute;
    background: #FFA902;
    border-radius: 3%;
  }

  .title {
    left: 40%;
    top: 200px;
    position: absolute;
    color: black;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    word-wrap: break-word;
  }

  .description {
    left: 270px;
    top: 40px;
    position: absolute;
    color: black;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    word-wrap: break-word;


  }

  .italic-description {
    left: 170px;
    top: 260px;
    position: absolute;
    color: black;
    font-size: 16px;
    font-family: Inter;
    font-weight: 700;
    word-wrap: break-word;
  }

  .white-box {
    width: 1000px;
    height: 400px;
    left: 160px;
    top: 300px;
    position: absolute;
    background: #D2D2D2;
    border-radius: 25px;
  }

  .image {
    width: 200px;
    height: 200px;
    /* left: 750px; */
    top: 50px;
    position: absolute;
    margin-left:40px;
  }

  .website {
    left: 780px;
    top: 350px;
    position: absolute;
    color: black;
    font-size: 16px;
    font-family: Inter;
    font-weight: 700;
    word-wrap: break-word;
  }

  .text {
    left: 50px;
    top: 90px;
    position: absolute;
    color: black;
    font-size: 20px;
    font-family: Inter;
    font-weight: 500;
    word-wrap: break-word;
  }
