@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;600;700&display=swap');
  :root{
    --orange: #f79f1f ;
    --text-color-1:#444 ;
    --text-color-2:#666 ;
    --bg-color-1:#fff ;
    --bg-color-2:#eee ;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
  }

*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: .8rem;

}
html::-webkit-scrollbar-track{
    background: transparent;

}
html::-webkit-scrollbar-thumb{
    background: var(--orange);
    border-radius: 5rem;

}
body{
    background:var(--bg-color-2);
}
body.active{
    --text-color-1:#fff ;
    --text-color-2:#eee ;
    --bg-color-1:#333 ;
    --bg-color-2:#222 ;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.4);
}
.hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--orange);
    z-index: 5;
    background-blend-mode: overlay;
    display: flex;
    justify-content: center; /* Pusat horizontal */
    align-items: center; /* Pusat vertikal */
    min-height: 100vh;
    width: 100%;
    text-align: center;
    padding-top: 50px;
    object-fit: cover;
    position: relative;
    /* position: absolute; */
}



  .hero video{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .btn-group {
    display: flex;
    gap: 20px; /* Menentukan jarak horizontal antara tombol */
    justify-content: center; /* Membuat tombol berada di tengah-tengah */
    margin-top: 20px; /* Memberikan jarak di atas tombol */
}

.btn {
    padding: 10px 20px; /* Atur padding sesuai kebutuhan */
}


  .slider-navigation{
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80px);
    margin-bottom: 12px;
  }

  .slider-navigation .nav-btn{
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    transition: 0.3s ease;
  }

  .slider-navigation .nav-btn.active{
    background:var(--orange);
  }

  .slider-navigation .nav-btn:not(:last-child){
    margin-right: 20px;
  }

  .slider-navigation .nav-btn:hover{
    transform: scale(1.2);
  }

  .video-slide{
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
  }

  .video-slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
    transition-property: clip-path;
  }


  .hero-title{
    z-index: 888;
    color: #fff;
    width: 100%;
  }

  .hero-text {   margin-bottom: 20px;
    text-align: center;
    z-index: 888;
    color: #fff;
    animation: moveright 1s linear 1;
    animation-delay: 4s;
    visibility: hidden;
    animation-fill-mode: forwards;

  }
  @keyframes moveright{
    0%{
      transform: translateX(-100px);
      visibility: visible;
    }
    100%{
      transform: translateX(0);
      visibility: visible;
    }
  }
section{
    padding: 2rem 7%;
}

.heading{
    text-align: center;
    padding-bottom: 2rem;
    color: var(--text-color-1);
    font-size: 4rem;
}
.heading span{
    position: relative;
    z-index: 0;
}
.heading span::before{
    content: '';
    position: absolute;
    bottom: 1rem; left: 0;
    z-index: -1;
    background: var(--orange);
    height: 100%;
    width: 100%;
    clip-path: polygon(0 90%, 100% 83%, 100% 100%, 0% 100%);
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: var(--orange);
    border-radius: .5rem;
    cursor: pointer;
}

.btn:hover{
    letter-spacing: .2rem;
}

.header
{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: var(--bg-color-1);
    box-shadow: var(--box-shadow);
    padding: 1.5rem 7%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo{
    font-weight: bolder;
    font-size: 2.5rem;
    color: var(--text-color-1);
}
.header .logo i{
    color: var(--orange);
}
.header .search-form{
    background: var(--bg-color-2);
    border-radius: .5rem;
    display: flex;
    align-items: center;
    height: 4.5rem;
    width: 50rem;
}
.header .search-form input{
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.5rem;
    color: var(--text-color-1);
    padding: 1rem;
}
.header .search-form label{
    font-size: 2rem;
    margin-right: 1.5rem;
    color: var(--text-color-1);
    cursor: pointer;
}
.header .search-form label:hover{
    color: var(--orange);
}

.header .icon div {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    border-radius: .5rem;
    margin-left: .5rem;
    background: var(--bg-color-2);
    color: var(--text-color-1);
    cursor: pointer;
    text-align: center;
}

.header .icon div:hover {
    color: #fff;
    background: var(--orange);
}

.header .navbar{
    position: absolute;
    top: 115%; right: 7%;
    background: var(--bg-color-1);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width: 25rem;
    transform: scale(0);
    transform-origin: top right;
}

.header .navbar.active{
    transform: scale(1);
}
.header .navbar a{
    display: block ;
    margin: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
    color: var(--text-color-1);
    border-radius: .5rem;

}

.header .navbar a:hover{
    color: var(--orange);
    background: var(--bg-color-2);
    padding-left: 2rem;
}

.header .login-form{
    position: absolute;
    top: 115%; right: 7%;
    background: var(--bg-color-1);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width: 35rem;
    padding: 2rem;
    transform: scale(0);
    transform-origin: top right;
}

.header .login-form.active{
    transform: scale(1);
}
.header .login-form .inputBox{
    margin-bottom: 1 rem;

}

.header .login-form .inputBox span{
    margin-bottom: 1.7rem;
    color: var(--text-color-2);

}

.header .login-form .inputBox input{
    margin-bottom: 1.5rem;
    color: var(--text-color-2);
    border-radius: .5rem;
    padding: 1rem;
    background: var(--bg-color-2);
    width: 100%;
    text-transform: none;
    margin: .5rem 0;
}
.header .login-form .remember{
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .5rem 0;
}
.header .login-form .remember label
{
     color: var(--text-color-2);
     font-size: 1.5rem;
     cursor: pointer;
}
.header .login-form .btn{
    width: 100%;
}
.form-container form{
    background: var(--bg-color-1);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
}
.form-container form ,.inputBox{
    flex: 1 1 23rem;
}

.form-container form ,.inputBox span{
    font-size: 1.7rem;
    color: var(--text-color-1);
}
.form-container form ,.inputBox input{
    font-size: 1.5rem;
    color: var(--text-color-1);
    background: var(--bg-color-1);
    border-radius: .5rem;
    margin: .5rem 0;
    text-transform: none;
    width: 100%;
    padding: 1rem;
}
.form-container form .btn{
    flex: 1 1 23rem;
}
.packages .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)) ;
    gap: 1.5rem;
}
.packages .box-container .box{
    background: var(--bg-color-1);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}
.packages .box-container .box:hover .image img{
    transform: scale(1.1);
    }

.packages .box-container .box .image{
    height: 25rem;
    width: 100%;
    padding: 1.5rem;
    position: relative;
    border-radius: .5rem;
}

.packages .box-container .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: .5rem;
}
.packages .box-container .box .image img h3{
    position: absolute;
    top: 2.5rem; left: 2.5rem;
    font-size: 2rem;
    color: #fff;
    background: rgba(0,0,0,.5);
    border-radius: .5rem;
    font-weight: lighter;
    padding: .5rem 1.5rem;
}

.packages .box-container .box .image img h3 i{
   color: var(--orange);
}

.packages .box-container .box .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: center;
    padding: 1.5rem;
    padding-top: 0;
}

.packages .box-container .box .content .price{
    font-weight: 600;
    color: var(--text-color-1);
    font-size: 2.5rem;
}
.packages .box-container .box .content .price span{
    font-weight: lighter;
    color: var(--text-color-2);
    font-size: 1.5rem;
    text-decoration: line-through;
}

.packages .box-container .box .content h3{
        font-size: 2rem;
        color: var(--text-color-1);
        line-height: 1.5;
}

/* benefits */

.benefits .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)) ;
    gap: 1.5rem;
}
.benefits .box-container .box{
    background: var(--bg-color-1);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);

    position: relative;
    padding: 2rem;
}
.benefits .box-container .box span{
position: absolute;
top: .5rem; right:2rem;
color: var(--text-color-2);
font-weight: bolder;
font-size: 5rem;
}
.benefits .box-container .box i{
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    text-align: center;
    font-size: 2.5rem;
    color: #fff;
    background: var(--orange);
    border-radius: 50%;
    margin-bottom: .5rem;
}

.benefits .box-container .box h3{
    color: var(--text-color-1);
    font-weight: 2.3rem;
    padding: .7rem 0;
    font-size: 2rem;
}

.benefits .box-container .box p{
    color: var(--text-color-2);
    font-weight: 1.5rem;
line-height: 1.8;
 font-size: 1.5rem;
}

/* pricing */
.pricing .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)) ;
    gap: 1.5rem;
}
.pricing .box-container .box{
    background: var(--bg-color-1);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    text-align: center;
}
.pricing .box-container .box h3{
    padding: 1rem;
    background: var(--bg-color-2);
    border-radius: .5rem;
    font-size: 2rem;
    color: var(--text-color-1);
}
.pricing .box-container .box .price{
    padding-top: 2rem;
}


.pricing .box-container .box .price span{
    font-size: 2rem;
    color: var(--text-color-2);
}

.pricing .box-container .box .price .amount{
    font-size: 5rem;
    color: var(--text-color-1);
    font-weight: bolder;
}
.pricing .box-container .box ul{
    padding: .5rem 0;
    list-style: none;
}
.pricing .box-container .box ul li{
    padding: 1rem 0;
    list-style: none;
    font-size: 1.7rem;
    color: var(--text-color-2);
}


/* review */
.review .review-slider{
    box-shadow: var(--box-shadow);
}
.review .review-slider .slide{
    background: var(--bg-color-1);
    border-radius: .5rem;
    text-align: center;
    padding: 3rem;
}
.review .review-slider .slide img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: .5rem;
}
.review .review-slider .slide h3{
    font-size: 2.5rem;
    color: var(--text-color-1);
}
.review .review-slider .slide p{
    font-size: 1.6rem;
    color: var(--text-color-2);
    line-height: 1.7;
    padding: 1rem 0;
}
.review .review-slider .slide .stars{
    padding: 1rem 0;
    padding-bottom: 1.5rem;
}
.review .review-slider .slide .stars i{
    font-size: 2rem;
    color: var(--orange);
}

.swiper-slide.slide {
    text-align: center; /* Agar gambar berada di tengah-tengah slide */
}

.swiper-slide.slide img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto;
}

.swiper-pagination-bullet-active{
    background: var(--orange);
}

/* contact */

.contact form {
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}

.contact form .inputBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact form textarea,
.contact form .inputBox input {
    width: 100%;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--text-color-1);
    margin: .7rem 0;
    background: var(--bg-color-1);
    box-shadow: var(--box-shadow);
    text-transform: none;
    border-radius: .5rem;
    /* border: 1px solid var(--border-color);
    transition: border-color 0.3s ease;  */
}

.contact form textarea {
    height: 20rem;
    resize: none;
}


/* Style for focused input and textarea */
.contact form .inputBox input:focus,
.contact form textarea:focus {
    border-color: var(--bg-color-1); /* Change border color on focus */
    outline: none;
}

/* Add styling for the submit button */
/* .contact form .btn {
    background: var(--orange);
    color:var(--bg-color-1);
    padding: 1rem 2rem;
    font-size: 1.6rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
} */

/* .contact form .btn:hover {
    background: var(--orange);
    color: var(--bg-color-1);
} */

/* blogs */

.blogs .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)) ;
    gap: 1.5rem;
}
.blogs .box-container .box{
    background: var(--bg-color-1);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    padding: 2rem;

}
.blogs .box-container .box .image{
    height: 20rem;
    width: 100%;
    border-radius: .5rem;
    background: var(--bg-color-2-color-2);
    overflow: hidden;
}
.blogs .box-container .box .image img{
    height: 100%;
    width: 100%;
}
.blogs .box-container .box:hover .image img{
transform: scale(1.2);
}

.blogs .box-container .box .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: center;
    padding-top: 1rem;
}

.blogs .box-container .box .content h3{
    font-size: 2rem;
    color: var(--text-color-1);
    line-height: 1.5;
}
.blogs .box-container .box .content .icons{
    display: flex;
    justify-content: space-between;
    border-top: .1rem solid var(--text-color-2);
    margin-top: 2rem;
    padding-top: 1.5rem;
}
.blogs .box-container .box .content .icons a{
    font-size: 1.5rem;
    color: var(--text-color-2);
}
.blogs .box-container .box .content .icons a:hover{
    color: var(--orange);
}
.blogs .box-container .box .content .logo a{
    padding-right: .5rem;
    color: var(--orange);
}
.logo img {
    width: 250px;
    height: 80px;
    color: var(--text-color-1);
}


/* footer */
.footer{
    background: var(--bg-color-1);
}
.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr)) ;
    gap: 1.5rem;
    padding-left: 250px;

}
.footer .box-container .box h3{
    font-size: 2.5rem;
    color: var(--text-color-1);
    padding: 1rem 0;
}
.footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    color: var(--text-color-2);
    padding: 1rem 0;
}
.footer .box-container .box a i{
    padding-right: .5rem;
    color: var(--orange);
}
.footer .box-container .box a:hover i{
    padding-right: 2rem;
}
.footer .credit{
    font-size: 2rem;
    text-align: center;
    border-top: .1rem solid var(--text-color-2);
    padding: 1rem;
    padding-top: 2rem;
    margin-top: 2rem;
    color: var(--text-color-1);
}
.footer .credit span{
    color: var(--orange);
}

/* ends */
@media screen and (max-width: 768px) {
    .footer .box-container {
        display: block; /* Mengubah tata letak menjadi satu kolom */
        padding-left: 0; /* Menghapus padding kiri */
    }

    .footer .box-container .box {
        width: 100%; /* Mengisi lebar penuh */
    }
}


/* media
 */
 @media (min-width: 992px) {
    .header .icon #search-btn {
        display: none;
    }
    .hero .container { max-width: 740px;
        margin-bottom: 20px;
        z-index: 888;
        color: #fff;
      }
}
@media(max-width:991px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 1.5rem 2rem;
    }
    .section{
        padding: 2rem;
    }
    .hero .container { max-width: 740px;
        margin-bottom: 20px;
        z-index: 888;
        color: #fff;
      }

}

@media(max-width:768px){
    .header{
        padding: 1.5rem 2rem;
    }
    .header .navbar{
        right: 2rem;
    }
    .header .login-form{
        right: 2rem;
    }
    #search-btn{
        display: inline-block;
    }
    .header .search-form{
        position: absolute;
       top: 115%; right: 2rem;
       background: var(--bg-color-1);
       border-radius: .5rem;
       width: 90%;
       box-shadow: var(--box-shadow);
       transform: scale(0);
       transform-origin: top right;
    }
    .header .search-form.active{
        transform: scale(1);
}
.hero .container.active{
    display: block;
  }



@media(max-width:450px){
    html{
        font-size: 50%;
    }
}
.logo img {
    max-width: 120px;
    height: 60px;
}
.contact form .inputBox input{
    width: 100%;
}
.hero {
    max-width: 100%;
    height: auto;
    padding-top: 80px;
  }

  .hero-text{
     margin-bottom: 20px;
      z-index: 10;
      color: #fff;
   }
   .hero-text {   margin-bottom: 20px;
    text-align: center;
    z-index: 888;
    color: #fff;

  }

}

















/* .home {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 7rem;
}

.home .image {
    flex: 1 1 45rem;

}
.home .image img{
    width: 100%;
}
.home .content {
    flex: 1 1 45rem;
}
.home .content h3{
    color: var(--text-color-1);
    font-size: 4rem;
}
.home .content p{
    color: var(--text-color-2);
    font-size: 1.7rem;
    line-height: 1.7rem;
    padding: 1rem;
} */
